html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #271a33;
}

main {
	width: clamp(450px, 35%, 50%);
	height: clamp(400px, 100%, 100%);
	padding: 10px;

	display: flex;
	flex-direction: column;
}

/* .footers {} */

.chatContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

#chat {
	height: 100%;
	background-color: #f8f2f9;

	overflow-y: auto;
}

#chat::-webkit-scrollbar {
	/* width: 10px; */
}

#chat:focus {
	/* outline: none; */
}

input[type="text"]:focus,
input[type="text"]:hover {
	outline: none;
}

.complete-message {
	height: fit-content;
	margin-bottom: 10px;

	display: flex;
	gap: 5px;
}

.complete-message > .from-user {
	color: rgb(255, 255, 255);
	margin-left: auto;
}
.complete-message > .from-bot {
	color: black;
	background-color: white;
	margin-right: auto;
}

/* yung height ng icon is binabago nya rin yung contaiienr nung message why is that?*/

.user-icon {
	height: 40px;
	border-radius: 50%;
	margin-bottom: auto;
}

.message {
	overflow: hidden;
	font-size: 1rem;

	display: grid;
	place-content: center;
	padding: 5px 15px;

	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	background-color: #9c4ad5;
	border-radius: 10px;
	word-break: break-all;
	/* overflow-wrap: break-word; */
}
