html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #271a33;
}

main {
	width: clamp(450px, 35%, 50%);
	height: clamp(0px, 100%, 100%);

	display: flex;
	flex-direction: column;
}

.chatContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

#chat {
	height: 100%;
	background-color: #f8f2f9;

	overflow-y: auto;
}

.header {
	background-color: white;
	padding: 10px 20px;

	display: flex;
	align-items: center;
	gap: 15px;
}

.userIcon {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.userName {
	font-size: clamp(1.3rem, 1.2vw + 0.5rem, 2vw);
	color: rgb(64, 64, 64);
}

.info {
	margin-left: auto;

	width: 30px;
	height: 30px;
}

.complete-message {
	margin-bottom: 10px;

	display: flex;
	gap: 5px;
}

.complete-message.user-message {
	padding-left: 45px;
}
.complete-message.user-message > :nth-child(1) {
	color: rgb(255, 255, 255);
	margin-left: auto;
}

.complete-message.bot-message {
	padding-right: 45px;
}
.complete-message.bot-message > :nth-child(2) {
	color: black;
	background-color: white;
	margin-right: auto;
}

/* yung height ng icon is binabago nya rin yung contaiienr nung message why is that?*/

.user-icon {
	height: 40px;
	border-radius: 50%;
	margin-bottom: auto;
	cursor: pointer;
}

.message {
	overflow: hidden;
	font-size: 1rem;

	display: grid;
	place-content: center;
	padding: 5px 10px;

	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	background-color: #9c4ad5;
	border-radius: 10px;
	word-break: break-all;
	overflow-wrap: break-word;
}
