html,
body {
	height: 100%;
}

.chat {
	width: clamp(500px, 50%, 50%);
}

input[type="text"]:focus,
input[type="text"]:hover {
	outline: 1px solid rgb(72, 72, 72);
}

.complete-message {
	height: 40px;
	display: flex;
	gap: 5px;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 5px;
}

.from-user,
.from-bot {
	font-size: 1rem;
	padding: 12px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	width: fit-content;
}

.complete-message > .from-user {
	color: rgb(255, 255, 255);
}
.complete-message > .from-bot {
	color: black;
	margin-right: auto;
}

.user-icon {
	height: 100%;
	background-color: aqua;
	border-radius: 50%;
}

.message {
	background-color: #8892a7;
	height: 100%;

	display: grid;
	place-content: center;
}
