html,
body {
	height: 100%;
}

body {
	background-color: #4a90e2;
	padding: 0;
	font: 1rem sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;
}

.chat {
	width: 50%;
	height: fit-content;
	padding: 10px;
}

.label {
	font-size: 2rem;
	margin-bottom: 10px;
	color: white;
	text-align: center;
}

.message {
	margin-bottom: 5px;
}

input[type="text"]:focus,
input[type="text"]:hover {
	outline: 1px solid rgb(72, 72, 72);
}

button[type="button"]:hover,
button[type="button"]:focus {
	color: #357ab8;
}

.from-user,
.from-bot {
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	width: fit-content;
	display: flex;
}

.from-user {
	justify-content: flex-start;
}
.from-bot {
	margin-left: auto;
}
