html,
body {
	height: 100%;
}

main {
	overflow: hidden;
	width: clamp(100px, 40%, 50%);
	height: clamp(100px, 70%, 100%);
	padding: 10px;
	background-color: rgb(198, 197, 201);
	border-radius: 8px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

.chatContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

#chat {
	height: 100%;
	overflow-y: auto;
}

input[type="text"]:focus,
input[type="text"]:hover {
	outline: none;
}

.complete-message {
	height: max-content;
	margin-bottom: 5px;

	display: flex;
	gap: 5px;
}

.complete-message > .from-user {
	color: rgb(255, 255, 255);
	margin-left: auto;
}
.complete-message > .from-bot {
	color: black;
	margin-right: auto;
}

.user-icon {
	height: 40px;
	background-color: aqua;
	border-radius: 50%;
	margin-bottom: auto;
	margin-top: 2px;
}

.message {
	overflow: hidden;
	font-size: 1rem;
	padding: 10px 14px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	background-color: #8892a7;
	border-radius: 10px;
	word-break: break-all;
	/* overflow-wrap: break-word; */
}
